{% comment %}
  @param product {Object}
    The product object

  @param context {String}
    The name of the template

  @param variant {Object}
    The variant object
{% endcomment %}

{% if product != blank and context == 'product' %}
    {%
            render 'product__structured-data',
            product: product
    %}
{% endif %}

<div class="product product__root">
    <div class="product__inner">
        <div class="product__header">

        </div>
        <div class="product__content">
            {% for block in section.blocks %}
                <div class="product-block product-block__main product-block__{{ block.type }} {% if forloop.first == true %} product-block--first{% endif %}"
                        {{ block.shopify_attributes }}>
                    <div class="product-block__inner {{ block.type }}__inner">
                        <div class="product-block__content {{ block.type }}__content">
                        {% case block.type %}
                            {% when 'vendor' %}
                                <p class="vendor">
                                    <span class="vendor">
                                        <a href="{% if collection %}{{ collection.url }}{% else %}{{ routes.all_products_collection_url }}{% endif %}?filter.p.vendor={{ product.vendor | url_param_escape }}">
                                          {{ product.vendor }}
                                        </a>
                                    </span>
                                </p>
                            {% when 'sku' %}
                                {% if variant.sku != blank %}
                                    <p class="sku">
                                        <span>{{ variant.sku }}</span>
                                    </p>
                                {% endif %}
                            {% when 'title' %}
                                {% if context == 'product' %}
                                    <h1 class="title product-title">
                                        {{- product.title | escape -}}
                                    </h1>
                                {% else %}
                                    <h2 class="title product-title">
                                        <a href="{{ product.url }}">
                                            {{- product.title | escape -}}
                                        </a>
                                    </h2>
                                {% endif %}
                            {% when 'price' %}
                                <p class="price">
                                    {{ product.price }}
                                </p>
                            {% when 'custom-liquid' %}
                                {{ block.settings.custom_liquid }}
                            {% when 'description' %}
                                {% if product.description != blank %}

                                    <div class="description rte">
                                        {{ product.description | split: '<!-- split -->' | first }}
                                    </div>

                                {% endif %}
                            {% when 'rating' %}
                                {% if product.metafields.reviews.rating.value != blank %}
                                    <div class="product-rating">
                                        {%
                                                render 'rating-stars',
                                                value: product.metafields.reviews.rating.value.rating,
                                                scale_max: product.metafields.reviews.rating.value.scale_max
                                        %}
                                        <p class="rating__text">
                                            <span aria-hidden="true">{{ product.metafields.reviews.rating.value }} / {{ product.metafields.reviews.rating.value.scale_max }}</span>
                                        </p>
                                        <p class="rating__count">
                                            <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
                                            <span class="visually-hidden">{{ product.metafields.reviews.rating_count }} total reviews </span>
                                        </p>
                                    </div>
                                {% endif %}
                            {% when 'form' %}
                            
                                    {% unless collection_handles contains 'coming-soon' %}
                                        {%
                                                render 'product-form',
                                                product: product,
                                                show_payment_button: show_dynamic_checkout_button,
                                                collection_handles: collection_handles
                                        %}
                                        {%
                                                render 'product-notify-me',
                                                product: product
                                        %}
                                    {% endunless %}
                            {% when '@app' %}
                                {% render block %}
                        {% endcase %}
                        </div>
                    </div>
            </div>
            {% endfor %}

        </div>
        <div class="product__footer">

        </div>
    </div>
</div>